<%= form_for :articles,url: articles_path  do |f| %>
  <p>
    <%= f.label :text ,"Description :"%><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :text,"Text :" %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
   <%= f.submit "Submit", class: "btn btn-primary", id: "form_submission" %>
  </p>
<% end %>
