<h1>Welcome :</h1>


      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
<br><br>
 


<%= link_to 'SIGN OUT', logout_path %><br>

<%= link_to 'ACCOUNT DETAILS',edit_user_path(@user.id) %><br>

<%= link_to 'ARTICLE DETAILs', articles_path%>

